jobs:
- job:
  displayName: From environment.yml
  pool:
    vmImage: 'ubuntu-16.04'

  steps:
  - bash: echo "##vso[task.prependpath]$CONDA/bin"
    displayName: Add conda to PATH

  - script: conda env create --quiet --file environment.yml
    displayName: Create Anaconda environment

  - bash: |
      source activate env-from-yaml
      pip install pytest pytest-azurepipelines
      pytest
    displayName: pytest
